.underlinedTitle {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 0;
        z-index: -1;
        background: $main-yellow;
    }
}