/* Main Colors */
$bkgrd-color: #00061D;
$text-color: #F6F8FF;
$main-yellow: #FCA311;
$main-red: #EA5958;
$main-cyan: #19D3E0;
$main-pink: #D90A51;

/* Footer Colors */
$footer-black: #000411;
$footer-text: #959595;
$footer-darker: #5C5C5C;

/* Other colors */
$arrow-pink: #F10A57;



/* Font Families */
$avantGarde: 'ITC Avant Garde Std Md',
sans-serif;
$cabin: 'Cabin',
sans-serif;
$avantGardeDemi: 'ITC Avant Garde Std Bk',
sans-serif;
